* {
  margin: 0;
  padding: 0;

}

body {
  background: #ffffff;
}

.app {
    background: rgb(227, 230, 230);
}

a {
    color: #101010;
    text-decoration: none;
}

a:link {

}

a:visited {

}

a:hover {
    color: #8b8b8b;
}

a:active {

}

.show{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

.nav {
  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
  background: white;
  border-bottom: darkgrey 1px solid;
  text-align: left;
}

.nav-container {
  width: 1000px;
  margin: 0 auto;
  padding: 0 14px;
}

.nav-left {
  display: inline-block;
}

.nav-left a {
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  margin-right: 40px;
  color: #7a7a7a;
  line-height: 48px;
}

.nav-left a:hover {
    color: #101010;
}

.form-search {
  display: inline-block;
  float: right;
  margin-top: 10px;
}

.input-search {
  width: 100px;
  height: 20px;
  border-radius: 20px;
  border: 1px #7a7a7a solid;
  padding:2px 5px;
  margin-right: 10px;
}

.submit-search {
  width: 46px;
  height: 26.4px;
  border-radius: 20px;
  border: 1px #7abde2 solid;
  color: white;
  font-weight: bold;
  padding: 0.4px;
  line-height: 26px;
  background: #7abde2;
}

.container {
  display: -webkit-flex;
  display: flex;
/*    background: rgb(227, 230, 230);*/
  -webkit-justify-content: center;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  padding: 56px 14px;
}

.main{
  width: 590px;
  margin: 0 10px;
  overflow: hidden;
}

.box-form{
  width: 100%;
  height: 100px;
  padding: 10px;
  background: rgb(243, 246, 246);
  border-bottom: rgb(227, 230, 230) 1px solid;
}

.user-avatar, .topic-item-avatar {
  width: 32px;
  height: 32px;
  border-radius: 16px;
}

.user-avatar{
  margin-left: 10px;
  margin-bottom: 50px;
}

.form-topic{
  display: inline-block;
  margin-left: 20px;
  width: 80%;
}

.input-title {
  margin-bottom: 5px;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  background: white;
  height: 14px;
  padding: 2px;
}

.label-title {
  font-size: 14px;
  margin-right: 10px;
  font-weight: bold;
  color: #7a7a7a;
}

.textarea-box{
  width: 100%;
  height: 55px;
  padding: 2px;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  background: white;
  margin: 0;
}

.textarea-content{
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
  font-family: 微软雅黑;
  color: #7a7a7a;
}

.submit-topic{
  float: right;
  width: 50px;
  padding: 2px;
  font-size: 12px;
  font-weight: bold;
  background: #7b8b99;
  color: white;
  border: 1px solid #7b8b99;
  border-radius: 10px;
}

.topic-item {
  background: white;
  padding: 10px;
  width: 100%;
  border-bottom: rgb(200, 211, 200) solid 1px;
  overflow: hidden;
}

.topic-item-user {
  float: left;
  width: 55px;
  margin-right: 5px;
  text-align: center;
}

.topic-item-nickname {
  font-size: 12px;
  font-weight: bold;
}

.topic-item-title {
  font-size: 14px;
  font-weight: bolder;
  margin-right: 10px;
}

.topic-item-content {
  font-size: 14px;
    width: 80%;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.topic-item-time {
  float: right;
  margin-right: 20px;
  font-size: 12px;
  color: #7a7a7a;
}

.user-panel {
  width: 300px;
  height: 220px;
  background: white;
}

.user-panel-avatar {
  width: 80px;
  height: 80px;
  border: 3px #ffffff solid;
  border-radius: 80px;
  margin-top: 20%;
  margin-left: 10px;
}

.user-panel-top {
  width: 100%;
  height: 40%;
  background-image: url("../images/user_panel_background.jpg");
  background-repeat: no-repeat;
  background-position:center;
}

.user-panel-nickname {
  font-size: 20px;
  font-weight: bold;
  margin-left: 40%;
}

.user-panel-table {
  margin-top: 14%;
  margin-left: 20px;
}

.user-panel-table th {
  font-size: 14px;
  color: #333333;
  padding-right: 60px;
}

.user-panel-table td {
  font-size: 16px;
  color: #7a7a7a;
}

.btn-logout {
  float: right;
  width: 40px;
  margin-right: 10px;
  margin-top: -20px;
  background: white;
  border: 1px #7b8b99 solid;
  border-radius: 20px;
  color: #7b8b99;
  font-size: 12px;
}


/*login*/

.login-left, .register-left {
    height: 100%;
    width: 100%;
    position: absolute;
    background: #7abde2;
}

.login-left img, .register-left img {
    position: absolute;
    width: 25%;
    top: 50%;
    left: 10%;
    margin-top: -246px;
}

.login-container, .register-container {
  background: white;
  position: absolute;
  left: 50%;
  top: 0;
  height: 100%;
  width: 50%;
}

.login-container h1,.register-container h1 {
  margin-top: 20%;
  margin-left: 20%;
}

.login-form-container,.register-form-container{
  margin-top: 3%;
  margin-left: 20%;
}

.login-form-container label, .register-container label {
  color: #333333;
  font-weight: bold;
  margin-right: 10px;
}

.login-form-container input, .register-container input {
  margin-top: 10px;
  padding: 5px;
}

.login-container a, .register-container a {
  margin-left: 20%;
  font-size: 12px;
}

.submit-login, .submit-register {
  margin-left: 50px;
  width: 80px;
  height: 30px;
  font-size: 16px;
  line-height: 10px;
  border-radius: 30px;
  border: 1px #7abde2 solid;
  background: #7abde2;
  color: #ffffff;
}

/*index*/
.index-container {
  background: rgb(227, 230, 230);
  width: 100%;
    height: 100%;
    position: absolute;
    overflow:auto;
}

.topic-detail {
  background: rgb(227, 230, 230);
    position: absolute;
    width: 100%;
    height: 100%;
    overflow:auto;
}

.topic-detail-container {
  display: -webkit-flex;
/*    background: rgb(227, 230, 230);*/
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 1000px;
  margin: 5px auto;
  padding: 56px 14px;
  overflow: hidden;
}

.topic-detail-main {
  width: 590px;
  margin: 0 10px;
  background: white;
  padding: 10px;
}

.topic-detail-top {
  padding-bottom: 10px;
  border-bottom: 1px #7a7a7a solid;
  margin-bottom: 10px;
  overflow: hidden;
}

.topic-detail-user {
  text-align: center;
  float: left;
  margin-right: 10px;
  overflow: hidden;
}

.topic-detail-user p {
  font-weight: bold;
}

.topic-detail-avatar {
  width: 60px;
  height: 60px;
  border-radius: 60px;
}

.topic-detail-time {
  font-size: 12px;
  color: #7a7a7a;
  float: right;
  margin-top: 15px;
}

.topic-detail-content {
    width: 85%;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}

.reply-item {
    overflow: hidden;
    padding: 10px 0;
    border-bottom: 1px #8b8b8b solid;
}

.reply-item-user {
    width: 50px;
    text-align: center;
    float: left;
    font-size: 12px;
    font-weight: bold;
    color: #333333;
    margin-right: 10px;
}

.reply-item-content {
    font-size: 14px;
    width: 85%;
    word-wrap:break-word;
    word-break:break-all;
    overflow: hidden;
}

.reply-item-time {
    float: right;
    font-size: 12px;
    color: #7a7a7a;
    margin-top: 15px;
}

.form-reply {
  margin-top: 10px;
}

.reply-textarea-box {
    width: 80%;
    border-radius: 10px;
    border: 1px #7a7a7a solid;
    padding: 2px 5px;
}

.topic-detail-main h4 {
    margin-top: 20px;
}

.reply-textarea-box textarea {
    resize: none;
    width: 100%;
    border: none;
}

.submit-reply {
    float: right;
    width: 60px;
    height: 30px;
    color: white;
    background: #7abde2;
    font-size: 14px;
    font-weight: bold;
    border: 1px #7abde2 solid;
    border-radius: 30px;
    margin-top: -30px;
}
