* {
  margin: 0;
  padding: 0;
}

body {
  background: rgba(200, 211, 200, 0.42);
}

a {
    color: #101010;
    text-decoration: none;
}

a:link {

}

a:visited {

}

a:hover {
    color: #8b8b8b;
}

a:active {

}

.show{
  visibility: visible;
}

.hidden{
  visibility: hidden;
}

.nav {
  position: fixed;
  top: 0;
  height: 48px;
  width: 100%;
  background: white;
  border-bottom: darkgrey 1px solid;
  text-align: left;
}

.nav-left {
  margin-left: 21%;
}

.nav-left a {
  font-weight: bold;
  text-decoration: none;
  font-size: 14px;
  display: inline-block;
  margin-right: 40px;
  color: #7a7a7a;
  line-height: 48px;
}

.nav-left a:hover {
    color: #101010;
}

.form-search {
  float: right;
}

.container {
  display: -webkit-flex;
  display: flex;
  -webkit-justify-content: center;
  justify-content: center;
  width: 1000px;
  margin: 0 auto;
  padding: 56px 14px;

}

.main{
  width: 590px;
  margin: 0 10px;
  overflow: hidden;
}

.box-form{
  width: 100%;
  height: 160px;
  padding: 10px;
  background: rgba(200, 211, 200, 0.42);
  border-bottom: rgba(200, 211, 200, 0.42) 1px solid;
}

.user-avatar,.topic-item-avatar{
  width: 32px;
  height: 32px;
  border-radius: 16px;
  margin-left: 10px;
  margin-bottom: 25px;
}

.form-topic{
  display: inline-block;
  margin-left: 20px;
  width: 80%;
}

.textarea-box{
  width: 100%;
  height: 55px;
  padding: 2px;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
  background: white;
  margin: 0;
}

.textarea-content{
  width: 100%;
  height: 100%;
  resize: none;
  border: none;
}

.submit-topic{
  float: left;
  position: relative;
  right: 55px;
  bottom: 25px;
  padding: 4px;
  font-size: 12px;
  font-weight: bold;
  background: #7a7a7a;
  color: white;
  border: 1px solid #7a7a7a;
  border-radius: 5px;
}

.topic-item {
  background: white;
  padding: 10px;
  width: 100%;
  border-bottom: rgba(200, 211, 200, 0.42) solid 1px;
}

.topic-item-title {
  font-size: large;
  font-weight: bold;
  margin-right: 10px;
}

.user-panel {
  width: 300px;
  height: 300px;
  background: white;
}

.topic-detail {
  margin-top: 100px;
}